;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

{
  :devices {
    :macbook [{:is_built_in_keyboard true}]
    :moonlander [{:vendor_id 12951 :product_id 6505}]
  }

  :applications {:chrome ["^com\\.google\\.Chrome$"] :alacritty ["^io\\.alacritty$", "^org\\.alacritty$"] :vscode ["^com\\.microsoft\\.VSCode$"] :cursor ["^com\\.todesktop\\.230313mzl4w4u92$"]}

  :main [
    {:des "Change right_command to command+control+option+shift"
    :rules [
      [:right_command :!QWEright_shift :macbook]
    ]}

    {:des "Change caps_lock to control+option+shift"
    :rules [
      [:caps_lock :!TOleft_shift :macbook]
    ]}

    {:des "Chrome move tab key bind"
    :rules [
      [:!TOSright_arrow :!Ttab :chrome]
      [:!TOSleft_arrow :!TStab :chrome]
    ]}

    {:des "Chrome, Visual Studio Code, Cursor, alacritty delete tab key bind"
    :rules [
      [:!TOSw :!Cw :chrome]
      [:!TOSw :!Cw :vscode]
      [:!TOSw :!Cw :cursor]
      [:!TOSw :!Cw :alacritty]
    ]}

    {:des "Visual Studio Code, Cursor file move key bind"
    :rules [
      [:!TOSup_arrow :!TStab :vscode]
      [:!TOSdown_arrow :!Ttab :vscode]
      [:!TOSup_arrow :!TStab :cursor]
      [:!TOSdown_arrow :!Ttab :cursor]
    ]}

    {:des "Visual Studio Code, Cursor file to another tab"
    :rules [
      [:!!left_arrow :!TCleft_arrow :vscode]
      [:!!right_arrow :!TCright_arrow :vscode]
      [:!!left_arrow :!TCleft_arrow :cursor]
      [:!!right_arrow :!TCright_arrow :cursor]
    ]}

    {:des "Visual Studio Code, Cursor view Denifition"
    :rules [
      [:!!e :f12 :vscode]
      [:!!r :!Rf12 :vscode]
      [:!!w :!Whyphen :vscode]
      [:!!e :f12 :cursor]
      [:!!r :!Rf12 :cursor]
      [:!!w :!Whyphen :cursor]
    ]}

    {:des "alacritty move tab key bind"
    :rules [
      [:!TOSright_arrow :!Ttab :alacritty]
      [:!TOSleft_arrow :!TStab :alacritty]
    ]}
]}
